# API URLs
VITE_API_URL=http://localhost:5011/api
VITE_API_URL_GIGS=https://api-gigsmanual.harx.ai/api
VITE_MATCHING_API_URL=https://api-matching.harx.ai/api
VITE_REP_CREATION_API_URL=https://api-repcreationwizard.harx.ai/api

# Other environment variables can be added here 