# API URLs
VITE_API_URL=http://localhost:5011/api
VITE_API_URL_GIGS=https://v25gigsmanualcreationbackend-production.up.railway.app/api
VITE_MATCHING_API_URL=https://v25matchingbackend-production.up.railway.app/api
VITE_REP_CREATION_API_URL=/api
VITE_COMPANY_API_URL=https://v25searchcompanywizardbackend-production.up.railway.app/api

# Other environment variables can be added here 